.section{
    padding:46px 0
}
.secTop{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:18px
}
.secTitle{
    font-size:18px;
    font-weight:900;
    color:#111
}
.grid{
    display:grid;
    gap:16px
}
.grid4{
    grid-template-columns:repeat(4,1fr)
}
@media(max-width:1000px){
    .grid4{
        grid-template-columns:repeat(2,1fr)
    }
    .section{
        padding:34px 0
    }
}
@media(max-width:560px){
    .grid4{
        grid-template-columns:1fr
    }
}
